table {
    border-collapse: collapse;
    border: solid darkgray 2px;
    letter-spacing: 1px;
    
}

thead th, tfoot tr {
    background-color: black;
    color: white;
    font: bold;
}

th, td {
    border: 1px solid gray;
    padding: 8px 12px;
    text-align: center;
} 